

	<div class="top">
		<div class="zerogrid">
			<ul class="number f-left">
				<li class="mail"><p>correocorporativo@elnombredetuempresa.com</p></li>
				<li class="phone"><p>08 88888 88888</p></li>
			</ul>
			<ul class="top-social f-right">
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</div>
	</div>
	<!--////////////////////////////////////Header-->
	<header>
		<div class="zerogrid">
        <img class="logo" src="assets/images/piza.png" alt="">
     <!-- <div class="logo"><img src="assets/images/logo.png"></div>-->
     <style type="text/css">.logo{
        width: 250px; height: 100px;
      margin:10px auto;
      display:block;
        }</style>
     
    
		</div>
	</header>
	<div class="site-title">
		<div class="zerogrid">
			<div class="row">
				<h2 class="t-center">La mejor comida en el corazón de Puerto Aysén,</h2>
			</div>
		</div>
	</div>

