<section id="container" class="index-page">
    <div class="wrap-container zerogrid">
      <!-----------------content-box-1-------------------->
      <section class="content-box box-1">
        <div class="zerogrid">
          <div class="row box-item"><!--Start Box-->
            <h2>“Tu impresionante slogan debe ir aqui:somos los mejores,comida siempre caliente”</h2>
            <span>textotextotextotextotextotextotextotextotextotextotextotextotextotextotextotexto</span>
          </div>
        </div>
      </section>
      <!-----------------content-box-2-------------------->
      <section class="content-box box-2">
        <div class="zerogrid">
          <div class="row wrap-box"><!--Start Box-->
            <div class="header">
              <h2>Bienvenidos</h2>
              <hr class="line">
              <span>text text text text text</span>
            </div>
            <div class="row">
              <div class="col-1-3">
                <div class="wrap-col">
                  <div class="box-item">
                    <span class="ribbon">Menu<b></b></span>
                    <img src="assets/images/menu.jpg" alt="">
                    <p>The sliding menucard will surely impress your customers! Set up several pages and display them side by side, just as on a paper menucard!</p>
                    <a href="#" class="button button-1">Detalle</a>
                  </div>
                </div>
              </div>
              <div class="col-1-3">
                <div class="wrap-col">
                  <div class="box-item">
                    <span class="ribbon">Comida rápida<b></b></span>
                    <img src="assets/images/fast-food.jpg" alt="">
                    <p>The sliding menucard will surely impress your customers! Set up several pages and display them side by side, just as on a paper menucard!</p>
                    <a href="#" class="button button-1">Detalle</a>
                  </div>
                </div>
              </div>
              <div class="col-1-3">
                <div class="wrap-col">
                  <div class="box-item">
                    <span class="ribbon">Reservas<b></b></span>
                    <img src="assets/images/reservation.jpg" alt="">
                    <p>The sliding menucard will surely impress your customers! Set up several pages and display them side by side, just as on a paper menucard!</p>
                    <a href="#" class="button button-1">Detalle</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-1-3">
                <div class="wrap-col">
                  <div class="box-item">
                    <span class="ribbon">Chef<b></b></span>
                    <img src="assets/images/chef.jpg" alt="">
                    <p>The sliding menucard will surely impress your customers! Set up several pages and display them side by side, just as on a paper menucard!</p>
                    <a href="#" class="button button-1">Detail</a>
                  </div>
                </div>
              </div>
              <div class="col-1-3">
                <div class="wrap-col">
                  <div class="box-item">
                    <span class="ribbon">Prevista<b></b></span>
                    <img src="assets/images/preview.jpg" alt="">
                    <p>The sliding menucard will surely impress your customers! Set up several pages and display them side by side, just as on a paper menucard!</p>
                    <a href="#" class="button button-1">Detalle</a>
                  </div>
                </div>
              </div>
              <div class="col-1-3">
                <div class="wrap-col">
                  <div class="box-item">
                    <span class="ribbon">Texto importante<b></b></span>
                    <img src="assets/images/reservation.jpg" alt="">
                    <p>The sliding menucard will surely impress your customers! Set up several pages and display them side by side, just as on a paper menucard!</p>
                    <a href="#" class="button button-1">Detalle</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>